* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #e91e63;
  --secondary-color: #f8f8f8;
  --text-color-light: white;
  --text-color-dark: #333; /* Añadido para texto general */
  --border-color: #ccc;
  --default-font: sans-serif;
  --logo-height: 40px; /* Variable para la altura del logo */
}

body {
  font-family: var(--default-font);
  color: var(--text-color-dark);
  background: url('../../publico/imagenes/logo1.jpeg') no-repeat center center fixed;
  background-size: cover;
}
body, header {
  margin: 0;
  padding: 0;
}
header {
  border: 1px solid red;
}



    


.banner {
  overflow: hidden;
  background: #f8d7da;
  color: #721c24;
  border: 1px solid red;
  white-space: nowrap;
  white-space: nowrap;
}

.banner {
  overflow: hidden;
  background: #f8d7da;
  color: #721c24;
  white-space: nowrap;
  height: 40px; /* Ajusta la altura si deseas */
  display: flex;
  align-items: center;
}

.banner-track {
  display: flex;
  will-change: transform;
}

.banner-content {
  display: flex;
  white-space: nowrap;
}

.banner-content span {
  padding: 0 2rem;
  font-weight: bold;
}






.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--text-color-light); /* Assuming white background */
  padding: 10px;
}
.logo {
  height: var(--logo-height);
}
.utilities a, .utilities button {
  margin-left: 10px;
  text-decoration: none;
}
.main-menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
  background: var(--text-color-light); /* Assuming white background */
}
.main-menu li {
  padding: 10px 20px;
  cursor: pointer;
}

.main-menu li:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
button:hover, a:hover {
  opacity: 0.8;
}
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.producto {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: center;
}
.producto img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;

}
.categorias img {
  width: 100%;
  height: auto;
}



